<section class="section projects-section">
  <h2 class="section-title"><span class="icon-holder"><i class="fas fa-archive"></i></span>Projects</h2>

  <div class="intro">
    {{ site.data.projects.intro }}
  </div>

  <ul>
    {% for project in site.data.projects.items %}
    <li class="item">
      <span class="project-title">
        <a href="{{ project.link }}" target="_blank" rel="noopener">{{ project.title }}</a>
      </span> - <span class="project-tagline">{{ project.description }}</span>
    </li>
    {% endfor %}
  </ul>
</section>
