<section class="skills-section section">
  <h2 class="section-title"><span class="icon-holder"><i class="fas fa-rocket"></i></span>Skills &amp; Proficiency</h2>

  <div class="skillset">
    {% for skill in site.data.skills %}
    <div class="item">
      <h3 class="level-title">{{ skill.title }}</h3>
      <div class="progress level-bar">
        <div class="progress-bar theme-progress-bar" role="progressbar" style="width: {{ skill.proficiency }}%"
          aria-valuenow="{{ skill.proficiency }}" aria-valuemin="0" aria-valuemax="100"
          aria-progressbar-name="Skill Proficiency">
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
